<include file="Public:script-load-page"/>
<body style="background:#ececec">
<div class="header">
    <div class="left_t">
        <a href="index.html" class="header_back"></a>
    </div>
    <div class="middle_t site_20">我的家访</div>
    <div class="right_t">
        <span class="rigth"></span>
    </div>
    <div class="tongzhi">
</div>
<div class="ma_top">
        <a href="tongzhiinfo.php?id=1460984172213065">
            <div class="title" style="font-size: 14px;color:#ff6600;">[进行中]</div>
            <div class="title">殷素素老师</div>
            <div class="time">预约时间:2015-04-18~2015-04-20</div>
            <div class="time"></div>
        </a>
        <a href="tongzhiinfo.php?id=1439965142138939">
            <div class="title" style="font-size: 14px;color:#999;">[已结束]</div>
            <div class="title">殷素素老师</div>
            <div class="time">家访时间:2015-08-19 14:19:02</div>
        </a>
    </div>
</div>
</body>
</html>
<script>
    $(".left_t").click( function() {
        window.history.back();
    });
</script>