<include file="Public:script-load-page"/>
<body>
<div class="login"><img src="__PUBLIC__/Weixin/images/logo.png"></div>
<div class="login_1">
    <form name="form1" id="form1" method="post">
        <ul>

            <li class="login_line"><img src="__PUBLIC__/Weixin/images/member.png">
                <input name="t_mobile" id="t_mobile" type="tel" class="login_input" value="" placeholder="手机号码" maxlength="11" style="color:#666;"></li>
            <li class="login_line"><img src="__PUBLIC__/Weixin/images/passwords.png">
                <input name="t_password" id="t_password" type="password" class="login_input" value="" placeholder="密码" maxlength="20" style="color:#666;"></li>
            <li>
                <div class="login_left"><input type="checkbox"  class="login_checkbox"  name="chk_isremember" value="1" id="chk_isremember" checked>
                    <label for="chk_isremember">记住账号</label></div>
                <div class="login_right"><a href="zhmm"></a></div>
            </li>

        </ul>
        <label class="radio-inline">
            <input type="radio" name="identify" id="inlineRadio1" value="student" checked> 学生
        </label>
        <label class="radio-inline">
            <input type="radio" name="identify" id="inlineRadio2" value="teacher"> 老师
        </label>
        <button class="login_but" type="button" name="btn_login" onclick="login();">登录</button>
    </form>
</div>
</body>
</html>
<script>
    $(function(){
        if($.cookie("isremember")!=null&&$.cookie("isremember")!="")
        {
            var mobile=$.cookie("loginid");
            var password=$.cookie("password");
            if(mobile!=null&&mobile!="")
                $("#t_mobile").val(mobile);
            if(password!=null&&password!="")
                $("#t_password").val(password);
            $("#chk_isremember").attr("checked","checked");
        }
    });
    function login()
    {
        var mobile=$("#t_mobile").val();
        var password=$("#t_password").val();
        if(!isMobile(mobile))
        {
            myAlert("请输入正确的手机号码");
            return false;
        }
        else if(password.length<4||password.length>20)
        {
            myAlert("请输入规范的密码");
            return false;
        }
        $("#form1").submit();
    }
</script>
