<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
<!--   <link rel="shortcut icon" href="favicon.ico"  />
  <link rel="Bookmark" href="favicon.ico"  />-->
<!--jQuery weui-->
<link rel="stylesheet" href="__PUBLIC__/Weui/css/weui.min.css">
<link rel="stylesheet" href="__PUBLIC__/Weui/css/jquery-weui.min.css">
<link rel="stylesheet" href="__PUBLIC__/Weui/css/weui.css">
<link rel="stylesheet" href="__PUBLIC__/Weui/css/jquery-weui.css">
<script type="application/javascript" src="__PUBLIC__/Weui/js/jquery-2.1.4.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weui/js/jquery-weui.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weui/js/jquery-weui.min.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weui/js/jquery.min..js"></script>
<script type="application/javascript" src="__PUBLIC__/Weui/js/city-picker.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weui/js/city-picker.min.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weui/js/swiper.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weui/js/swiper.min.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weui/js/zepto.js"></script>
<!-- Standard iPhone -->
<link rel="apple-touch-icon" href="apple-touch-icon.png" />
<!-- Retina iPhone -->
<link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-120x120.png" />
<!-- Standard iPad -->
<link rel="apple-touch-icon" sizes="76x76" href="touch-icon-iphone-76x76.png" />
<!-- Retina iPad -->
<link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-152x152.png" />
<link rel="stylesheet" href="__PUBLIC__/Weixin/css/bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/Weixin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Weixin/css/style.css">
<script type="application/javascript" src="__PUBLIC__/Weixin/js/jquery-1.8.3.min.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weixin/js/jquery.cookie.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weixin/js/jquery.form.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weixin/js/commjslib.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weixin/js/layer.m/layer.m.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weixin/js/h5.js"></script>
<script type="application/javascript" src="__PUBLIC__/Weixin/js/jquery.cookie.js"></script>
    <title>365学堂</title>
</head>