<include file="Public:script-load-page"/>
<style >
    .tijiao{padding:5px;width:25%;border-top-left-radius: 5px;border-top-right-radius:5px;border-bottom-left-radius: 5px;border-bottom-right-radius:5px;font-size:1em;color: #ffffff;background: orange}
</style>
<body>
<div id="content_div">
    <div class="header"  style="z-index: 100;position: fixed;">
        <div class="left_t">
            <a href="{:U('evaluate')}" class="header_back"></a>
        </div>
        <div class="middle_t site_20">修改评价</div>
        <div class="right_t">
        </div>
    </div>
    <div style="width: 100%;padding-top: 60px">
        <div style="border-left: 3px solid orange;margin-left: 10px;text-align: left">
            <span style="margin-left: 5px">[课程类型]课程名</span></div>
    </div>
    <br>
    <form>
    <input name="pingjia" value="1" type="radio" checked="checked">好评</input>
    <input name="pingjia" value="2" type="radio">中评</input>
    <input name="pingjia" value="3" type="radio">差评</input>
    <br><br>
    <textarea name="msg" style="width: 90%;height: 100px"></textarea><br>
        <input class="tijiao" type="submit" value="提交">
    </form>
</div>
</body>
</html>