<include file="Public:script-load-page"/>
<body>
<div style="background: #ffffff">
    <div id="content_div">
        <div class="header"  style="z-index: 100;position: fixed;">
            <div class="left_t">
                <a href="{:U('index')}" class="header_back"></a>
            </div>
            <div class="middle_t site_20">个人设置</div>
            <div class="right_t">
                <button style="background: #66cc99;border:0px " id="sv" name="sv" onclick="javascript:;">完成</button>
            </div>
        </div>
    </div>
    <form id="personalinfo" name="personalinfo" enctype="multipart/form-data" action="{:U('personalset')}" method="post">
    <div style="margin-top: 0px;font-size: 15px; text-align: left; padding-top: 55px;" class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" placeholder="请输入姓名" type="text" name="user_realname" value="{$data['user_realname']}">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">昵称</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" placeholder="请输入昵称" type="text" name="user_nicename" value="{$data['user_nicename']}">
            </div>
        </div>
        <div style="padding-left: 15px;" class="weui_cell weui_cell_select">
            <div class="weui_cell_hd ">
                <label class="weui_label">性别</label></div>
            <select class="weui_select" name="sex" >
                <switch name="data.sex">
                    <case value="0"><option value="0">请选择</option></case>
                    <case value="1"><option value="0">男</option></case>
                    <case value="2"><option value="0">女</option></case>
                </switch>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>

        <div style="" class="weui_cell">
            <div class="weui_cell_hd"><label  class="weui_label">地区</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input readonly="" class="weui_input" id="option" value="" type="text" name="areacode">
            </div>
        </div>
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader">
                <div class="weui_uploader_hd weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">头像上传</div>
                </div>
                <div class="weui_uploader_bd">
                    <ul class="weui_uploader_files">
                        <li class="weui_uploader_file" style="height: 75px;margin-top:10px"><img
                            src="__PUBLIC__/weixin/images/{$data['avatar']}" alt=""></li>

                    </ul>
                    <div class="weui_uploader_input_wrp">
                        <input class="weui_uploader_input" type="file" name="avatar">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </form>
    </div>
<script src="__PUBLIC__/Weui/js/jquery.min..js"></script>
<script src="__PUBLIC__/Weui/js/jquery-weui.js"></script>
<script src="__PUBLIC__/Weui/js/city-picker.js"></script>
<script>
    $("#option").cityPicker({
        title: "选择地区"
    });
    $("#sv").click(function () {
        $("#personalinfo").submit();
    });

</script>
</body>


</html>