<include file="Public:script-load-page"/>
<body style="background:#fff">
<style>
    /*.na_1{*/
    /*display: block;*/
    /*background-color: #f3f3f3;*/
    /*text-align: start;*/
    /*padding: 2% 5%;*/
    /*border-bottom: #dedede 1px solid;*/
    /*}*/
    .na_0{
        background-color: #FFFFFF;
        padding: 5%;
        text-align: start;
        text-indent: 2em;

    }
    .t-1{padding-top: 5%}
    .text1{font-size: 1.5em !important;}
</style>
<div class="header">
    <div class="left_t header_back" >
    </div>
    <div class="middle_t site_20">新手上路</div>
    <div class="right_t">
        <span class="glyphicon glyphicon-earphone text1"></span>
    </div>
</div>
<div class="t-1">
    <div>如何使用支付宝</div>
    <div class="na_0">
        <p>网络课堂除了支持一对多的模式；更有私人订制一对一模式。</p>
        <p>教师除了网络课堂，更提供私人家教个性课堂模式。</p>
        <p>生存训练营：应急生存技能，自然灾害，突发事件应对能力培训。</p>
        <p>心里疏导：提供学校心理辅导，职业压力疏导，生活琐事处理等视频资料。</p>
    </div>
    </div>
</body>
<script>
    $(".left_t").click( function() {
        window.history.back();
    });
</script>
</html>