<include file="Public:script-load-page"/>
<body style="background:#ececec">
<style type="text/css">
    .willing {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: table;
        background: #fff;
        line-height: 30px;
        position: fixed;
        z-index: 100;
    }

    .w-c {
        padding-top: 55px;
    }
    .h-p {
        position: fixed;
        z-index: 100
    }

    .willing-p {
        display: table;
        width: 100%;
        padding: 0;;
        margin: 2px;
    }

    .willing-p li {
        float: left;
        width: 48%;
        border: #dedede 1px solid;
        margin: 1%;
        float: left;
        background-color: #FFFFFF;
    }

    .willing-p img {
        width: 100%;
        height: 8.4em;
        padding: 3%;
        padding-bottom: 0;
    }

    .c-1 {
        text-align: start;
        padding-left: 3%;
        font-size: 0.8em;
        padding-bottom: 3%;
    }

    .c-1 span {
        padding: 2% 0;
        display: -webkit-inline-box;
    }

    .c-2 {
        padding: 1% 2%;
        float: left;
        background-color: #f50;
        color: #FFFFFF
    }

    .c-3 {
        margin-bottom: 3%;
        padding: 1% 2%;
        float: left;
        width: 80%;
        background-color: #414141;
        color: #FFFFFF;
        text-align: center;
    }
    .c-4{
        float: right;
        padding-right: 5% !important;
    }
    .willing div{
        border: #dedede 1px solid;
        margin: 1.5%;
    }
    .left-1{
        width: 30%;
        float: left;
    }
    .middle{
        width: 30%;
        text-align: center;
        float: left;
    }
    .right_1{
        width:30%;
        float: right;
    }
    .bn-1{
        color: #ff424e;
    }
</style>
<div class="header h-p">
    <div class="left_t header_back">

    </div>
    <div class="middle_t site_20">视频课</div>
    <div class="right_t">
        <span class="rigth"></span>
    </div>
</div>
<!--content部分-->
<div class="w-c">
    <div class="willing">
        <div id="order-c" class="left-1 bt-1 bn-1">点击量
        </div>
        <div id="order-t" class="middle glyphicon glyphicon-arrow-down bt-2">时间</div>
        <div class="order-p right_1 glyphicon glyphicon-arrow-down bt-3">
            价格
        </div>
    </div>
    <div style="padding-top: 40px;">
        <ul class="willing-p"><!--将图片内容用h5及css画出来-->
            <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
                <div class="c-1">
                    <div class="c-2">高一</div>
                    <div class="c-3">特级教师【张老师】</div>
                    <span>数学高中必修3</span>
                    <span>（随机抽样(一)）</span>
                    <span>￥10</span>
                    <span class="c-4">10人已学习</span>
                </div>
            </li>
            <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
                <div class="c-1">
                    <div class="c-2">高一</div>
                    <div class="c-3">特级教师【张老师】</div>
                    <span>数学高中必修3</span>
                    <span>（随机抽样(一)）</span>
                    <span>￥10</span>
                    <span class="c-4">10人已学习</span>
                </div>
            </li>
            <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
                <div class="c-1">
                    <div class="c-2">高一</div>
                    <div class="c-3">特级教师【张老师】</div>
                    <span>数学高中必修3</span>
                    <span>（随机抽样(一)）</span>
                    <span>￥10</span>
                    <span class="c-4">10人已学习</span>
                </div>
            </li>
            <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
                <div class="c-1">
                    <div class="c-2">高一</div>
                    <div class="c-3">特级教师【张老师】</div>
                    <span>数学高中必修3</span>
                    <span>（随机抽样(一)）</span>
                    <span>￥10</span>
                    <span class="c-4">10人已学习</span>
                </div>
            </li>
            <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
                <div class="c-1">
                    <div class="c-2">高一</div>
                    <div class="c-3">特级教师【张老师】</div>
                    <span>数学高中必修3</span>
                    <span>（随机抽样(一)）</span>
                    <span>￥10</span>
                    <span class="c-4">10人已学习</span>
                </div>
            </li>
            <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
                <div class="c-1">
                    <div class="c-2">高一</div>
                    <div class="c-3">特级教师【张老师】</div>
                    <span>数学高中必修3</span>
                    <span>（随机抽样(一)）</span>
                    <span>￥10</span>
                    <span class="c-4">10人已学习</span>
                </div>
            </li>
            <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
                <div class="c-1">
                    <div class="c-2">高一</div>
                    <div class="c-3">特级教师【张老师】</div>
                    <span>数学高中必修3</span>
                    <span>（随机抽样(一)）</span>
                    <span>￥10</span>
                    <span class="c-4">10人已学习</span>
                </div>
            </li>
            <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
                <div class="c-1">
                    <div class="c-2">高一</div>
                    <div class="c-3">特级教师【张老师】</div>
                    <span>数学高中必修3</span>
                    <span>（随机抽样(一)）</span>
                    <span>￥10</span>
                    <span class="c-4">10人已学习</span>
                </div>
            </li>
        </ul>

    </div>

</div>
<!--content部分结束-->
</body>
<script>
    $(".header_back").click(function () {
        window.history.back();
    });
    $(".bt-1").click(function () {
        $(".bt-1").addClass("bn-1");
        $(".bt-2").removeClass("bn-1");
        $(".bt-3").removeClass("bn-1");
    });
    $(".bt-2").click(function () {
        $(".bt-1").removeClass("bn-1");
        $(".bt-3").removeClass("bn-1");
        $(".bt-3").removeClass("glyphicon-arrow-up");
        $(".bt-3").addClass("glyphicon-arrow-down");
        var str= document.getElementsByClassName("bn-1").length;
        if(str){
            $(".bt-2").toggleClass("glyphicon-arrow-down");
            $(".bt-2").toggleClass("glyphicon-arrow-up");
        }else{
            $(".bt-2").addClass("bn-1");
        }
    });
    $(".bt-3").click(function () {
        $(".bt-1").removeClass("bn-1");
        $(".bt-2").removeClass("bn-1");
        $(".bt-2").removeClass("glyphicon-arrow-up");
        $(".bt-2").addClass("glyphicon-arrow-down");
        var str= document.getElementsByClassName("bn-1").length;
        if(str){
            $(".bt-3").toggleClass("glyphicon-arrow-down");
            $(".bt-3").toggleClass("glyphicon-arrow-up");
        }else{
            $(".bt-3").addClass("bn-1");
        }
    });

</script>
</html>


