<include file="Public:script-load-page"/>
<body style="background:#ececec">
<style>
    .c-0{padding-bottom: 5%;}
    .cl-1{background-color: #fff;width: 100%;height: 8.5em;}
    .cl-1 span{padding: 2em 0 0.7em 7em;width: 70% ;float: right;}
    .c-1{text-align: start;padding-left: 3%;font-size: 0.8em;padding-bottom: 3%;}
    .c-1 span{padding: 2% 0; display: -webkit-inline-box;}
    .c-2{padding: 1% 2%;float: left;background-color: #f50;color: #FFFFFF}
    .c-3{margin-bottom:3%;padding: 1% 2%;float: left;width:80%;background-color: #414141;color: #FFFFFF;text-align: center;  }
    .c-4{float: right;padding-right: 5% !important;}
    .willing-p{display: table;width:100%;padding:0;;margin: 2px;background-color: #FFFFFF}
    .willing-p li{float: left; width: 48%;border: #dedede 1px solid;margin: 1%;float: left;}
    .willing-p img{width: 100%;height: 8.4em;padding:3%;padding-bottom: 0;}
    .spk,.zxhd,.willing{color:#fff;text-align: start;padding: 2%;background-color: #66cc99; width:100%; border-bottom: #e6e7e8 1px solid;border-left: #ff5500 10px solid;  }
    .spk-p{display: table;width:100%;padding:0;;margin: 2px;}
    .spk-p li{width:25%;border: #dedede 1px solid;}
    .team{background-color: #FFFFFF}
    .team img{width:7em;height: 7em;padding:5%;}
    .de{text-align: start;padding-left: 5%;font-size: 0.8em;}
    .a-href{  color:#fff;}
</style>
<div class="header">
    <div class="left_t header_back" >
    </div>
    <div class="middle_t site_20">南昌一中</div>
    <div class="right_t">
        <span class="rigth">学校简介</span>
    </div>
</div>
<!--content部分-->
<div>
    <div class="cl-1"><!--将样式进行重新调整-->
        <div style="float: left;width: 30%;">
            <img width="100%"  src="__PUBLIC__/Weixin/images/mingx.png">
        </div>
        <span>直播数：<div style="color: #AE0000;float: right;padding-right: 2em"> 200</div> </span>
        <span>视频数：<div style="color: #AE0000;float: right;padding-right: 2em"> 100</div></span>
    </div>
    <div class="spk" >老师团队<a href="{:U('Subpage/teachlist')}" class="a-href" ><span style="float: right">更多》</span></a></div>
    <ul class="spk-p team"><!--将图片内容用h5及css画出来-->
        <li style="float: left;">
            <div style="padding-bottom:3%">
                <a href="{:U('Subpage/teacher')}"><img src='__PUBLIC__/Weixin/images/img_t01.png'></a>
            </div>
            <div class="de">赫拉老师</div>
            <div class="de">教龄：7年</div>
            <div class="de c-0">数学小学初中</div>
        </li>
        <li style="float: left">
            <div style="padding-bottom:3%">
                <a href="{:U('Subpage/teacher')}"><img src='__PUBLIC__/Weixin/images/img_ph.png'></a>
            </div>
            <div class="de">赫拉老师</div>
            <div class="de">教龄：7年</div>
            <div class="de c-0">数学小学初中</div>
        </li>
        <li style="float: left">
            <div style="padding-bottom:3%">
                <a href="{:U('Subpage/teacher')}"><img src='__PUBLIC__/Weixin/images/img_ph.png'></a>
            </div>
            <div class="de">赫拉老师</div>
            <div class="de">教龄：7年</div>
            <div class="de c-0">数学小学初中</div>
        </li>
        <li style="float: left">
            <div style="padding-bottom:3%">
                <a href="{:U('Subpage/teacher')}"><img src='__PUBLIC__/Weixin/images/img_ph.png'></a>
            </div>

            <div class="de">赫拉老师</div>
            <div class="de">教龄：7年</div>
            <div class="de c-0">数学小学初中</div>
        </li>
    </ul>
    <div class="willing" >直播数<a href="{:U('Subpage/courselist')}" class="a-href" ><span style="float: right">更多》</span></a></div>
    <ul class="willing-p"><!--将图片内容用h5及css画出来-->
        <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
            <div class="c-1">
                <div class="c-2">高一</div>
                <div class="c-3">2016-08-30</div>
                <span>高一语文</span>
                <span>（林黛玉进贾府）</span>
            </div>
        </li>
        <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
            <div class="c-1">
                <div class="c-2">高一</div>
                <div class="c-3">2016-08-30</div>
                <span>高一语文</span>
                <span>（林黛玉进贾府）</span>
            </div>
        </li>
        <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
            <div class="c-1">
                <div class="c-2">高一</div>
                <div class="c-3">2016-08-30</div>
                <span>高一语文</span>
                <span>（林黛玉进贾府）</span>
            </div>
        </li>
        <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
            <div class="c-1">
                <div class="c-2">高一</div>
                <div class="c-3">2016-08-30</div>
                <span>高一语文</span>
                <span>（林黛玉进贾府）</span>
            </div>
        </li></ul>
    <div class="willing" >视频课<a href="{:U('Subpage/courselist')}" class="a-href" ><span style="float: right">更多》</span></a></div>
    <ul class="willing-p"><!--将图片内容用h5及css画出来-->
        <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
            <div class="c-1">
                <div class="c-2">高一</div>
                <div class="c-3">特级教师【张老师】</div>
                <span>数学高中必修3</span>
                <span>（随机抽样(一)）</span>
                <span>￥10</span>
                <span class="c-4">10人已学习</span>
            </div>
        </li>
        <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
            <div class="c-1">
                <div class="c-2">高一</div>
                <div class="c-3">特级教师【张老师】</div>
                <span>数学高中必修3</span>
                <span>（随机抽样(一)）</span>
                <span>￥10</span>
                <span class="c-4">10人已学习</span>
            </div>
        </li>
        <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
            <div class="c-1">
                <div class="c-2">高一</div>
                <div class="c-3">特级教师【张老师】</div>
                <span>数学高中必修3</span>
                <span>（随机抽样(一)）</span>
                <span>￥10</span>
                <span class="c-4">10人已学习</span>
            </div>
        </li>
        <li><a href="{:U('Subpage/course')}"><img src='__PUBLIC__/Weixin/images/kc.png'></a>
            <div class="c-1">
                <div class="c-2">高一</div>
                <div class="c-3">特级教师【张老师】</div>
                <span>数学高中必修3</span>
                <span>（随机抽样(一)）</span>
                <span>￥10</span>
                <span class="c-4">10人已学习</span>
            </div>
        </li>
    </ul>
    <div class="zxhd"><a href='#' class='a-href'>最新活动</a></div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style="width:100%;height: 10rem;" src="__PUBLIC__/Weixin/images/ph_1.png"></div>
            <div class="swiper-slide"><img style="width:100%;height: 10rem;" src="__PUBLIC__/Weixin/images/ph_1.png"></div>
            <div class="swiper-slide"><img style="width:100%;height: 10rem;" src="__PUBLIC__/Weixin/images/ph_1.png"></div>
        </div>
    </div>

</div>

<!--content end-->
</body>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 2000,//可选选项，自动滑动
        autoplayDisableOnInteraction : false,
    })
    $(".left_t").click( function() {
        window.history.back();
    });
    var hello = "简介：江西省南昌市第一中学（简称“南昌一中”）前身为始建于清光绪二十七年（公元1901年）由省会书院改组而成的江西大学堂，是江西省第一所公办学校。"
    $(function(){
        $(".rigth").click( function() {
            alert(hello);
        });
    });


</script>
</html>