<include file="Public:script-load-page"/>
<body style="background:#ececec">
<style>
    .w-c {
        padding-bottom: 60px;
    }

    .timg {
        width: 20%;
        height: 6em;
        float: left;
        margin: 2% 0 0 7%;
    }

    .tdiv {
        width: 100%;
        height: 9em;
        background-color: #fff;
    }

    .tdiv ul {
        padding-left: 30%;
        padding-top: 2%;
        height:6.1em;
    }

    .tdiv ul li {
        white-space: nowrap;
        border-bottom: #cccccc 1px solid;
        width: 50%;
        float: left;
        text-align: start;
        padding-left: 2%;
    }

    .tdiv ul span {
        float: left;
        padding: 1px 0 0 10%;
    }

    .tdiv span {
        float: left;
        padding: 0 10px;
        width: 33.3%;
        padding-top: 2%
    }

    .zimg {
        width: 25%;
        height: 10em;
        float: left;
        margin: 2% 0 0 4%;
    }

    .zdiv {
        width: 100%;
        height: 12em;
        background-color: #fff;
        font-size: 0.8em;
    }

    .zdiv ul {
        padding-left: 30%;
        padding-top: 9%;
        height: 100%;
    }

    .zdiv ul li {
        border-bottom: #cccccc 1px solid;
        width: 50%;
        float: left;
        text-align: start;
        padding-left: 2%;
    }

    .zdiv ul span {
        float: left;
        padding: 1px 0 0 10%;
    }

    .zdiv span {
        float: left;
        padding: 0 10px;
        width: 33.3%;
        padding-top: 2%
    }

    .pingj {
        background-color: #fff;
        border: #dedede 1px solid;
        display: table;
    }

    .pingj img {
        width: 10%;
        float: left;
        margin: 2% 0 0 8%;
    }

    .inf span {
        text-align: left;
        float: left;
        padding: 3% 0 0 3%;
    }

    .inf {
        width: 80%;
        float: right;
    }
    .ing span {
        text-align: left;
        float: left;
        padding: 3% 0 0 3%;
    }

    .ing {
        font-size: 0.8em;
        color: #CCCCCC;
        width: 80%;
        float: right;
    }

    .con {
        width: 78%;
        float: right;
        text-align: start;
        padding: 2% 0;
    }

    .zxkc {
        text-align: start;
        padding: 2%;
        background-color: #66cc99;
        width: 100%;
        border-bottom: #e6e7e8 1px solid;
        border-left: #ff5500 10px solid;
    }

    .join {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .join ul {
        width: 100%;
        height: 55px;
        margin: 0 auto;
        padding: 0px;
        display: table;
    }

    .join ul li {
        float: left;
        width: 50%;
        color: #fff;
        background-color: #ea6e0c;
        line-height: 55px;
        border: #cccccc 2px solid;
        font-size: 1.4em;
    }
    .self{
        background-color: #fff;
        font-size: 1.06em;
        padding:2%;
        text-align: left;
    }
    .tip{
        font-size: 0.8em;
        background-color: #fff;
        line-height: 5em;
    }
    .tip span{
        padding: 2% 3%;
        width: 100%;
        border-radius: 1em;
        border: #dedede 1px solid;
        margin-left: 2px;
        white-space: nowrap;
    }
    .a-href{
        color:#fff
    }
    .t-1{
        background-color: #fff;
        font-size: 0.8em;
    }
    .tab_conbox{border-top: none;}
    .tabs .thistab,.tabs .thistab a:hover{color:#FF9C91}
</style>
<div class="header">
    <div class="left_t header_back">
    </div>
    <div class="middle_t site_20"></div>
    <div class="right_t">
        <span class="rigth">我的</span>
    </div>
</div>
<div class="w-c">
    <div class="tdiv">
        <img class="timg" src="__PUBLIC__/Weixin/images/img_photo.png">
        <ul>
            <span>昵 称：</span>
            <li>19216****00</li>
            <span>性 别：</span>
            <li>男</li>
            <span>教 龄：</span>
            <li>300年</li>
            <span>地 区：</span>
            <li>江苏省/美利坚市</li>
        </ul>
        <div style="width: 100%;height: 2.2em;background-color: #bde0cf;color: #7f652b;">
            <span class="glyphicon glyphicon-ok-sign">个人身份认证</span>
            <span class="glyphicon glyphicon-ok-sign">教师证认证</span>
            <span class="glyphicon glyphicon-ok-sign">学历认证</span>
        </div>
    </div>
    <div class="zxkc"><a href='#' class='a-href'>最新课程</a></div>
    <div class="zdiv">
        <img class="zimg" src="__PUBLIC__/Weixin/images/kc.png">
        <span style=" color: red;width: 22%;padding:3% 0 0 0;margin-left: 5%;">「直播课」</span>
        <span style="font-size: 1.2em;padding:2% 0 0 0;max-width: 45%;text-align: start;"> 情商决定成败</span>
        <ul>
            <span>价 格：</span>
            <li style="color: red">￥300</li>
            <span>编 号：</span>
            <li>404</li>
            <span>类 型：</span>
            <li>一对多辅导</li>
            <span>类 别：</span>
            <li>情商培养/家庭教育</li>
            <span style="line-height: 2em;color: red;margin-left: 3em;margin-top: 2%;padding: 0;border: red 1px solid;border-radius: 1em;background-color: #f3f3f3;">立即加入</span>

        </ul>
    </div>
    <div class="zxkc"><a href='#' class='a-href'>其他课程</a></div>
    <table class="table table-striped t-1" >
        <tr>
            <td>课程名称</td>
            <td>价格</td>
            <td>开课时间</td>
            <td>状态</td>
            <td>类型</td>
        </tr>
        <tr>
            <td>高一语文上（林黛玉进贾府）</td>
            <td>￥10</td>
            <td>2016-08-27 07:40</td>
            <td>立即报名</td>
            <td>直播课</td>
        </tr>
        <tr>
            <td>新手使用方法</td>
            <td>￥10</td>
            <td>2016-08-27 07:40</td>
            <td>立即报名</td>
            <td>直播课</td>
        </tr>
        <tr>
            <td>新手使用方法</td>
            <td>￥10</td>
            <td>2016-08-27 07:40</td>
            <td>立即报名</td>
            <td>直播课</td>
        </tr>
        <tr>
            <td>交通法规教育</td>
            <td>￥10</td>
            <td>2016-08-27 07:40</td>
            <td>立即报名</td>
            <td>线下课</td>
        </tr>
        <tr>
            <td>法律知识普及</td>
            <td>￥10</td>
            <td>2016-08-27 07:40</td>
            <td>立即报名</td>
            <td>线下课</td>
        </tr>
    </table>
    <div class="zxkc"><a href='#' class='a-href'>学生评价</a></div>

    <div class="tip tabs" id="tabs">
        <span>全部评价（2）</span>
        <span>好评（2）</span>
        <span>中评（0）</span>
        <span>差评（0）</span>
    </div>
    <div class="tab_conbox" id="tab_conbox">
        <li id="all" class="tab_con">
            <div class="pingj">
                <img src="__PUBLIC__/Weixin/images/img_ph.png">
                <div class="inf">
                    <span>暖暖</span><span>三年级</span>
                </div>
                <div class="ing">
                    <span>2012-08-08</span><span>以向此老师学习2课时</span>
                </div>
                <div class="con">第一次上课感觉很好，以后以后会接着听得以后会接着听得以后会接着听得以后会接着听得以后会接着听得会接着听得</div>
            </div>
            <div class="pingj">
                <img src="__PUBLIC__/Weixin/images/img_ph.png">
                <div class="inf">
                    <span>暖暖</span><span>三年级</span>
                </div>
                <div class="ing">
                    <span>2012-08-08</span><span>以向此老师学习2课时</span>
                </div>
                <div class="con">第一次上课感觉很好，以后以后会接着听得以后会接着听得以后会接着听得以后会接着听得以后会接着听得会接着听得</div>

            </div>
        </li>
        <li class="tab_con">
            <div class="pingj">
                <img src="__PUBLIC__/Weixin/images/img_t01.png">
                <div class="inf">
                    <span>暖暖</span><span>三年级</span>
                </div>
                <div class="ing">
                    <span>2012-08-08</span><span>以向此老师学习2课时</span>
                </div>
                <div class="con">第一次上课感觉很好，以后以后会接着听得以后会接着听得以后会接着听得以后会接着听得以后会接着听得会接着听得</div>
            </div>
            <div class="pingj">
                <img src="__PUBLIC__/Weixin/images/img_t01.png">
                <div class="inf">
                    <span>暖暖</span><span>三年级</span>
                </div>
                <div class="ing">
                    <span>2012-08-08</span><span>以向此老师学习2课时</span>
                </div>
                <div class="con">第一次上课感觉很好，以后以后会接着听得以后会接着听得以后会接着听得以后会接着听得以后会接着听得会接着听得</div>
            </div>
        </li>
        <li class="tab_con">
            <div class="pingj">
                <img src="__PUBLIC__/Weixin/images/img_t01.png">
                <div class="inf">
                    <span>暖暖</span><span>三年级</span>
                </div>
                <div class="ing">
                    <span>2012-08-08</span><span>以向此老师学习2课时</span>
                </div>
                <div class="con">第一次上课感觉很好，以后以后会接着听得以后会接着听得以后会接着听得以后会接着听得以后会接着听得会接着听得</div>
            </div>
        </li>
        <li class="tab_con">
            <div class="pingj">
                <img src="__PUBLIC__/Weixin/images/img_t01.png">
                <div class="inf">
                    <span>暖暖</span><span>三年级</span>
                </div>
                <div class="ing">
                    <span>2012-08-08</span><span>以向此老师学习2课时</span>
                </div>
                <div class="con">第一次上课感觉很好，以后以后会接着听得以后会接着听得以后会接着听得以后会接着听得以后会接着听得会接着听得</div>
            </div>
        </li>
    </div>
    <div class="zxkc"><a href='#' class='a-href'>自我介绍</a></div>
    <div class="self">
         &nbsp;&nbsp;本人性格内外结合,适应能力强，为人诚实，有良好的人际交往能力，具备相关的专业知识和认真。细心、耐心的工作态度及良好的职业道德修养。相信团体精神的我对工作认真负责，总希望能把事情做得更好! 性格开朗，对文字语言和数字敏感，对生活充满希望，对工作充满热情! 能在短期间内适应新环境，有强烈的品质意识;对工作认真负责，上进心强! 懂电脑基本操作，熟练小键盘操作!
    </div>
</div>
<div class="join">
    <ul>
        <li>咨询</li>
        <li>我要收藏</li>
    </ul>
</div>
</body>
<script type="text/javascript">
    $(".left_t").click(function () {
        window.history.back();
    });
    $(document).ready(function() {
        jQuery.jqtab = function(tabtit,tab_conbox,shijian) {
            $(tab_conbox).find("li").hide();
            $(tabtit).find("span:first").addClass("thistab").show();
            $(tab_conbox).find("li:first").show();

            $(tabtit).find("span").bind(shijian,function(){
                $(this).addClass("thistab").siblings("span").removeClass("thistab");
                var activeindex = $(tabtit).find("span").index(this);
                $(tab_conbox).children().eq(activeindex).show().siblings().hide();
                return false;
            });

        };
        /*调用方法如下：*/
        $.jqtab("#tabs","#tab_conbox","click");
    });
</script>
</html>


