<include file="Public:script-load-page"/>
<body>
<div class="header" style="z-index: 100;position: fixed;">
    <div class="left_t">
        <a href="{:U('money')}" class="header_back"></a>
    </div>
    <div class="middle_t site_20">充值记录</div>
    <div class="right_t">
    </div>
</div>
    <!--<div class="weui_cells_title"></div>-->
    <div class="weui_cells weui_cells_access" style="margin-top: 0px;padding-top: 55px;">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px;text-align: left">
               [课程类型]课程名<br>
                2016-08-08 08:08
            </div>
            <div class="weui_cell_ft">100元</div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px;text-align: left">
                [课程类型]课程名<br>
                2016-08-08 08:08
            </div>
            <div class="weui_cell_ft">100元</div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px;text-align: left">
                [课程类型]课程名<br>
                2016-08-07 08:08
            </div>
            <div class="weui_cell_ft">100元</div>
        </a>
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px;text-align: left">
                [课程类型]课程名<br>
                2016-08-06 08:08
            </div>
            <div class="weui_cell_ft">100元</div>
        </a>

    </div>
</body>
</html>