<include file="Public:script-load-page"/>
<body>
<style>
    .mylesson{
      height: 115px;
    }
    .mylesson ul{
        width: 100%;height: 50px;background: white;padding-left: 0px;text-align: left
    }
    .mylesson ul li{
        float: left;background: white;margin-top: -1px;margin-right:-1px;height: 40px;width: 25%;text-align:center;border: 0.1px solid #aaa;line-height:40px;font-size: 0.8em
    }
    .money{
        height:80px;;margin-top: 10px
    }
    .money ul{
        width: 100%;height: 50px;background: white;padding-left: 0px;text-align: left
    }
    .money ul li{
        float: left;background: white;margin-right:-1px;height: 40px;width: 50%;text-align:center;border: 0.1px solid #aaa;line-height:40px;font-size: 0.8em
    }
    .setting{
        height: 80px;margin-top:10px
    }
    .setting ul{
        width: 100%;height: 50px;background: white;padding-left: 0px;text-align: left
    }
    .setting ul li{
        float: left;background: white;margin-right:-1px;height: 40px;width: 50%;text-align:center;border: 0.1px solid #aaa;line-height:40px;font-size: 0.8em

    }
</style>
<!--头部-->
<div class="header">
    <div class="left_t">
        &nbsp;&nbsp;
    </div>
    <div class="middle_t site_20">个人中心</div>
    <div class="right_t">
        <span class="rigth"></span>
    </div>
</div>
<!--中间部分-->
<div style="padding-top: 50px;background: #c7c7c7; width:100% ;height:600px">
    <div style="background: orange;width: 100%;height: 90px;">
        <div style="text-align: left;padding-left: 0px;padding-top: 10px;float: left">
            <ul style="padding-left: 5px">
                <li><img src="__PUBLIC__/Weixin/images/1015.png" height="50px"  alt=""></li>
                <li style="font-size: 0.7em;color: white">xxx|老师</li>
            </ul>
        </div>
        <div style="float: left;padding-top: 35px;text-align: left">
            <ul style="padding-left: 0px">
                <li style="font-size: 0.7em;color: white">账户余额：￥50.00</li>
                <li style="font-size: 0.7em;color: white">冻结资金：￥0</li>
            </ul>
        </div>
    </div>
<div class="mylesson">
    <ul >
     <li style="border:0px solid #aaa;width: 100%;text-align: left;padding-left: 5px;height: 40px" >我的课程</li>
        <li>我的直播课</li>
        <li>线下补习课</li>
        <li>线下开班课</li>
        <li>进入微校</li>
        <li>学生家访</li>
        <li style="width: 75%"></li>
    </ul>

</div>
    <div class="money">
        <ul>
            <li style="border:0px solid #aaa;width: 100%;padding-left: 5px;text-align: left" >钱包管理</li>
            <li>账户余额</li>
            <li>我的订单</li>
        </ul>

    </div>
    <div class="setting">
        <ul>
            <li style="border:0px solid #aaa;width: 100%;padding-left: 5px;text-align: left">帐号设置</li>
            <li>个人设置</li>
            <li>安全设置</li>
        </ul>

    </div>

</div>
<!--底部-->
<div class="bottom">
    <ul>
        <li><a href=""><img src="__PUBLIC__/Weixin/images/1009.png">首页</a></li>
        <li><a href=""><img src="__PUBLIC__/Weixin/images/1012.png">分类</a></li>
        <li><a href="/index.php/weixin/personal/index"><img src="__PUBLIC__/Weixin/images/1015.png">个人中心</a></li>
    </ul>
</div>
</body>
</html>